Crexta .NET 4.0/Crexta.Server/Web References/me.u2m/webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="url2mini">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="url2miniResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url2miniResult" type="tns:Url2MiniData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Url2MiniData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MiniURL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="geturl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shortpattern" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="geturlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="geturlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="url2miniSoapIn">
    <wsdl:part name="parameters" element="tns:url2mini" />
  </wsdl:message>
  <wsdl:message name="url2miniSoapOut">
    <wsdl:part name="parameters" element="tns:url2miniResponse" />
  </wsdl:message>
  <wsdl:message name="geturlSoapIn">
    <wsdl:part name="parameters" element="tns:geturl" />
  </wsdl:message>
  <wsdl:message name="geturlSoapOut">
    <wsdl:part name="parameters" element="tns:geturlResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="url2mini">
      <wsdl:input message="tns:url2miniSoapIn" />
      <wsdl:output message="tns:url2miniSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="geturl">
      <wsdl:input message="tns:geturlSoapIn" />
      <wsdl:output message="tns:geturlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="url2mini">
      <soap:operation soapAction="http://tempuri.org/url2mini" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="geturl">
      <soap:operation soapAction="http://tempuri.org/geturl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="url2mini">
      <soap12:operation soapAction="http://tempuri.org/url2mini" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="geturl">
      <soap12:operation soapAction="http://tempuri.org/geturl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://u2m.me/ws/webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://u2m.me/ws/webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>